name: CI (NonlinearSolveHomotopyContinuation)

on:
  pull_request:
    paths:
      - "lib/NonlinearSolveHomotopyContinuation/**"
      - ".github/workflows/CI_NonlinearSolveHomotopyContinuation.yml"
      - "lib/NonlinearSolveBase/**"
  push:
    branches:
      - master

concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        version:
          - "1.10"
          - "1.11"
          - "1"
        os:
          - ubuntu-latest
          - macos-latest
    uses: LuxDL/Lux.jl/.github/workflows/CommonCI.yml@main
    with:
      julia_version: ${{ matrix.version }}
      os: ${{ matrix.os }}
      project: "lib/NonlinearSolveHomotopyContinuation"
      local_dependencies: "lib/NonlinearSolveBase"

  # NOTE: Downgrade tests are temporarily skipped due to Resolver.jl incompatibility
  # with [sources] in Project.toml. See issue #774 for tracking.
  downgrade:
    if: false
    uses: LuxDL/Lux.jl/.github/workflows/CommonCI.yml@main
    with:
      julia_version: "1.11"
      project: "lib/NonlinearSolveHomotopyContinuation"
      downgrade_testing: true
