name: CI (NonlinearSolve)

on:
  pull_request:
    paths:
      - "src/**"
      - "ext/**"
      - "test/**"
      - "Project.toml"
      - ".github/workflows/CI_NonlinearSolve.yml"
      - "lib/SciMLNonlinearOperators/**"
      - "lib/BracketingNonlinearSolve/**"
      - "lib/NonlinearSolveBase/**"
      - "lib/SimpleNonlinearSolve/**"
      - "lib/NonlinearSolveFirstOrder/**"
      - "lib/NonlinearSolveSpectralMethods/**"
      - "lib/NonlinearSolveQuasiNewton/**"
  push:
    branches:
      - master

concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        group:
          - core
          - downstream
          - wrappers
          - misc
          - nopre
        version:
          - "1"
          - "lts"
          - "pre"
        os:
          - ubuntu-latest
          - macos-latest
        exclude:
          # Don't run nopre tests on prerelease Julia
          - group: nopre
            version: "pre"
    uses: LuxDL/Lux.jl/.github/workflows/CommonCI.yml@main
    with:
      julia_version: ${{ matrix.version }}
      os: ${{ matrix.os }}
      project: "."
      local_dependencies: "lib/BracketingNonlinearSolve,lib/NonlinearSolveBase,lib/NonlinearSolveFirstOrder,lib/NonlinearSolveQuasiNewton,lib/NonlinearSolveSpectralMethods,lib/SimpleNonlinearSolve"
      test_args: "GROUP=${{ matrix.group }}"

  downgrade:
    strategy:
      fail-fast: false
      matrix:
        group:
          - core
          - downstream
          - wrappers
          - misc
          - nopre
    uses: LuxDL/Lux.jl/.github/workflows/CommonCI.yml@main
    with:
      project: "."
      julia_version: "1.11"
      downgrade_testing: true
      local_dependencies: "lib/BracketingNonlinearSolve,lib/NonlinearSolveBase,lib/NonlinearSolveFirstOrder,lib/NonlinearSolveQuasiNewton,lib/NonlinearSolveSpectralMethods,lib/SimpleNonlinearSolve"
      test_args: "GROUP=${{ matrix.group }}"
