name: CI (NonlinearSolve)

on:
  pull_request:
    paths:
      - "src/**"
      - "ext/**"
      - "test/**"
      - "Project.toml"
      - ".github/workflows/CI_NonlinearSolve.yml"
      - "lib/SciMLNonlinearOperators/**"
      - "lib/BracketingNonlinearSolve/**"
      - "lib/NonlinearSolveBase/**"
      - "lib/SimpleNonlinearSolve/**"
      - "lib/NonlinearSolveFirstOrder/**"
      - "lib/NonlinearSolveSpectralMethods/**"
      - "lib/NonlinearSolveQuasiNewton/**"
  push:
    branches:
      - master

concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        group:
          - core
          - downstream
          - wrappers
          - misc
          - nopre
          - trim
        version:
          - "1"
          - "1.11"
          - "lts"
          - "pre"
        os:
          - ubuntu-latest
          - macos-latest
        exclude:
          # Don't run nopre tests on prerelease Julia
          - group: nopre
            version: "pre"
          # Don't run trim tests on Julia versions below 1.12
          - group: trim
            version: "1.11"
          - group: trim
            version: "lts"
    uses: LuxDL/Lux.jl/.github/workflows/CommonCI.yml@main
    with:
      julia_version: ${{ matrix.version }}
      os: ${{ matrix.os }}
      project: "."
      local_dependencies: "lib/BracketingNonlinearSolve,lib/NonlinearSolveBase,lib/NonlinearSolveFirstOrder,lib/NonlinearSolveQuasiNewton,lib/NonlinearSolveSpectralMethods,lib/SimpleNonlinearSolve"
      test_args: "GROUP=${{ matrix.group }}"

  # NOTE: Downgrade tests are temporarily disabled because Resolver.jl
  # (used by julia-downgrade-compat) doesn't support [sources] packages.
  # NonlinearSolve uses [sources] to define local packages like SimpleNonlinearSolve,
  # which causes Resolver.jl to fail with:
  #   KeyError: key UUID("727e6d20-b764-4bd8-a329-72de5adea6c7") not found
  # TODO: Re-enable once Resolver.jl supports [sources] packages
  # downgrade:
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       group:
  #         - core
  #         - downstream
  #         - wrappers
  #         - misc
  #         - nopre
  #   uses: LuxDL/Lux.jl/.github/workflows/CommonCI.yml@main
  #   with:
  #     project: "."
  #     julia_version: "1.11"
  #     downgrade_testing: true
  #     test_args: "GROUP=${{ matrix.group }}"
